$desktopWidth : max-w-2xl;
$mobileWidth : max-w-sm;
$iconWidth : 8;
$iconHeight : 8;

:export {
  desktopWidth: $desktopWidth;
  mobileWidth: $mobileWidth;
  iconWidth: $iconWidth;
  iconHeight: $iconHeight;
}
